<nav class="navbar navbar-light bg-light shadow-sm">
  <div class="container">
    <img
      src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-dsc/contentbuilder/logo_hPnue3j.svg"
      alt="LOGO"
      height="30"
    />
    <span>Mount Kenya University</span>
  </div>
</nav>
