body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

#navigation {
    background-color: rgb(81, 81, 240);
    height: 100%;
}

.navi li {
    text-decoration: none;
    padding: 10%;
    list-style: none;
}

.navi li a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-decoration: none;
    text-align: left;
}

.navi li a:hover {
    color: pink;
}

.active {
    color: rgb(226, 140, 226);
}