body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.special {
    height: 100% !important;
}

.logo svg {
    height: 150px !important;
    width: 380px;
}
.logo img {
    height: 150px !important;
    width: 380px;
}
code {
    /* background-color: rgb(250, 235, 216) !important; */
    border: 1px burlywood solid;
    border-radius: 9px;
}

.text-bold {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#navigation {
    background-color: rgb(81, 81, 240);
    height: 100%;
}

.navi li {
    text-decoration: none;
    padding: 10%;
    list-style: none;
}

.navi li a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-decoration: none;
    text-align: left;
}

.navi li a:hover {
    color: pink;
}

.active {
    color: rgb(226, 140, 226);
}